.conteiner {
  height: 100vh;
  background-image: url(bgmap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#A {
  width: 1px;
  height: 100%;
  left: 50%;
}
#B {
  height: 1px;
  width: 100%;
  top: 50%;
}
.xy {
  background-color: red;
  position: absolute;
}
