body {
  background-image: url(bgmap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#A {
  width: 1px;
  height: 100%;
  background-color: red;
  left: 50%;
}
#B {
  height: 1px;
  width: 100%;
  background-color: red;
  top: 50%;
}
div {
    position: absolute;
}
